name: Ruff
permissions:
  contents: read

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'
      - 'pyproject.toml'
      - '.github/workflows/ruff.yml'
  pull_request:
    branches: [ main ]
    paths:
      - '**.py'
      - 'pyproject.toml'
      - '.github/workflows/ruff.yml'

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
        
    - name: Install Ruff
      run: pip install ruff
      
    - name: Run Ruff format check
      run: ruff format --check . --diff
      
    - name: Run Ruff linter
      run: ruff check . --output-format=github
